//if null reservation
<div class="box-body" style="min-height: 410px;">
	<div class="padding-side-15">
		<div class="form-group">
			<label for="">Reservation Fee</label>
			<input type="number" class="form-control">
		</div>
		<div class="form-group">
			<label for="">Cancellation Fee</label>
			<input type="number" class="form-control">
		</div>
		<div class="form-group">
			<label for="">Payment Due</label>
			<select name="" class="form-control" id="">
				<option value="">1 day after reservation</option>
				<option value="">2 days after reservation</option>
				<option value="">3 days after reservation</option>
				<option value="">4 days after reservation</option>
			</select>
		</div>
		<div class="form-group">
			<label for="">Refund Expiry (more than 24 hours before departure date)</label>
			<select class="form-control">
				<option value="">1 day after cancellation</option>
				<option value="">2 days after cancellation</option>
				<option value="">3 days after cancellation</option>
				<option value="">4 days after cancellation</option>
				<option value="">5 days after cancellation</option>
				<option value="">6 days after cancellation</option>
				<option value="">7 days after cancellation</option>
			</select>
		</div>
	</div>
</div>
<div class="box-footer">
	<div class="text-center">
		<button class="btn btn-success">SET RULES</button>
	</div>
</div>

//if null rental
<div class="box-body"  style="min-height: 410px;">
	<div class="padding-side-15">
		<div class="form-group">
			<label for="">Rental Fee</label>
			<input type="text" class="form-control">
		</div>
		<div class="form-group">
			<label for="">Cancellation Fee</label>
			<input type="text" class="form-control">
		</div>
		<div class="form-group">
			<label for="">Request Expiry</label>
			<select name="" class="form-control" id="">
				<option value="">1 day after request</option>
				<option value="">2 days after request</option>
				<option value="">3 days after request</option>
				<option value="">4 days after request</option>
			</select>
		</div>
		<div class="form-group">
			<label for="">Payment Due</label>
			<select name="" class="form-control" id="">
				<option value="">1 day after payment</option>
				<option value="">2 days after payment</option>
				<option value="">3 days after payment</option>
				<option value="">4 days after payment</option>
			</select>
		</div>
		<div class="form-group">
			<label for="">Refund Expiry (more than 24 hours before departure date)</label>
			<select class="form-control">
				<option value="">1 day after cancellation</option>
				<option value="">2 days after cancellation</option>
				<option value="">3 days after cancellation</option>
				<option value="">4 days after cancellation</option>
				<option value="">5 days after cancellation</option>
				<option value="">6 days after cancellation</option>
				<option value="">7 days after cancellation</option>
			</select>
		</div>
	</div>
</div>
<div class="box-footer">
	<div class="text-center">
		<button class="btn btn-success">SET RULES</button>
	</div>
</div>